@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

@font-face {
  font-family: titillium;
  src: url(../fonts/TitilliumWeb-Regular.ttf);
}

* {
  font-family: "Open Sans", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

/* h1 {
    font-family: titillium;
    font-size: 25px;
} */

header {
  background-color: black;
  padding: 10px;
}

.nav-bar {
  display: flex;
}

nav > a {
  display: block;
  width: 400px;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  box-sizing: block;
  padding: 20px;
  color: #fff;
  margin: 1px;
  text-decoration: none;
  transition: all 0.3s ease;
}

nav > a:hover {
  background-color: rgba(255, 255, 255, 0.4);
  color: #000;
  transition: all 0.3s ease;
}

#ch {
  display: none;
}

#lab {
  width: 30px;
  height: 30px;
  background: linear-gradient(
    #000000 0%,
    white 20%,
    transparent 21%,
    transparent 40%,
    #000000 41%,
    #ffffff 60%,
    transparent 61%,
    transparent 80%,
    #000000 81%,
    #ffffff 100%
  );
  margin: 4px;
  display: none;
}

@media screen and (max-width: 530px) {
  nav {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    transform: translate(-1000px, 0);
    transition: all 0.5s ease;
  }
  nav > a {
    width: auto;
  }
  #ch:checked + nav {
    transform: translate(0px, 0px);
    transition: all 0.5s ease;
  }
  #lab {
    display: block;
  }
}

footer {
  display: block;
  width: 100%;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 10px;
  color: #fff;
  margin-top: 500px;
  text-decoration: none;
  transition: all 0.3s ease;
  font-size: 20px;
  border: 1px solid #fff;
  cursor: pointer;
  bottom: 0px;
}

.btn:hover {
  background-color: #fff;
  color: #000;
}

/***** main *****/
@font-face {
  font-family: Aclonica;
  src: url(./fonts/Aclonica-Regular.ttf);
}

@font-face {
  font-family: Underdog;
  src: url(./fonts/Underdog-Regular.ttf);
}

@font-face {
  font-family: Sofia;
  src: url(./fonts/Sofia-Regular.ttf);
}

h1 {
  margin-left: 20px;
  font-family: Aclonica, sans-serif;
}

h2 {
  text-align: center;
  text-transform: uppercase;
  font-family: Underdog, sans-serif;
}

figure img {
  border-radius: 50%;
}

main {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

section {
  background-color: rgba(255, 255, 255, 0.4);
  box-shadow: 0px 0px 70px -16px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin: 10px;
  padding: 2%;
  flex: 0 0 25%;
}

.logo {
  text-align: center;
  position: relative;
  top: 100px;
}

table {
  border-collapse: collapse;
  margin-top: 20px;
  width: 100%;
}

th {
  background-color: black;
  color: white;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
}

form {
  margin: 20px auto;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  margin-top: 10px;
}

input,
textarea {
  margin: 5px 0;
  padding: 10px;
  width: 100%;
}

button {
  background-color: black;
  color: white;
  border: none;
  padding: 10px 20px;
}

button:hover {
  background-color: gray;
  color: black;
}

footer {
  background-color: black;
  margin-top: 50px;
  text-align: center;
}

/* Media queries */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  section {
    flex-direction: column;
    align-items: center;
  }

  .logo {
    top: 0;
  }
}
@media screen and (max-width: 1024px) {
  main {
    flex-direction: column;
  }
  section {
    flex: 0 0 100%;
  }
}

@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  img {
    margin-top: 10px;
  }
  .logo {
    top: 10px;
  }
  main {
    padding: 0;
  }
}

@media screen and (max-width: 480px) {
  form {
    width: 80%;
  }
}

.back-img {
  position: relative;
  background-size: cover;
  background-position: center;
  height: 90%;
  width: 100%;
  margin-left: 10px;
}

.h1-blog {
  position: absolute;
  top: 50%;
  left: 65%;
  transform: translate(-50%, -50%);
  color: whitesmoke;
  font-size: 4vw; /* Utilisez des unités de mesure relatives */
  text-align: center;
  border: solid 2px white;
  border-radius: 5%;
  padding: 10px;
}

.p-img-blog {
  position: absolute;
  top: 70%;
  left: 65%;
  transform: translate(-50%, -50%);
  color: whitesmoke;
  font-size: 2vw; /* Utilisez des unités de mesure relatives */
  text-align: center;
  border-radius: 5%;
  padding: 10px;
  box-shadow: 5px 5px 5px black;
  border-radius: 5%;
  font-size: 1.5rem;
}

.info {
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  color: whitesmoke;
  font-size: 5vw; /* Utilisez des unités de mesure relatives */
  text-align: center;
  border: solid 2px white;
  border-radius: 5%;
  padding: 10px;
}

h1.info {
    font-size: 2rem;
}

h1.h1-blog {
    font-size: 2rem;
    text-align: center;
}

p.p-img-blog {
    font-size: 1.8rem;
    text-align: center;
}

p.info-p {
    font-size: 1.8rem;
    text-align: center;
}

.info-p {
  display: grid;
  grid-template-columns: 1fr;
  position: absolute;
  top: 70%;
  left: 25%;
  transform: translate(-50%, -50%);
  color: whitesmoke;
  font-size: 1.5vw; /* Utilisez des unités de mesure relatives */
  text-align: center;
  border-radius: 5%;
  padding: 10px;
  box-shadow: 5px 5px 5px black;
  border-radius: 5%;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;
  text-shadow: 2px 2px 2px black;
}

.img-git {
  width: 100px;
  height: 100px;
}

@media screen and (max-width: 912px) {
  .header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 20px;
  }
  .back-img {
    position: absolute;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    margin-left: 0;
    z-index: -1;
  }
  .h1-blog,
  .p-img-blog,
  .info,
  .info-p {
    position: initial;
    transform: translate(0, 0);
    margin: 0;
  }
  .h1-blog {
    margin-top: 20px;
  }
  .info-p {
    margin-bottom: 20px;
  }
}

.article-contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  margin-bottom:50px;
}